*.pt filter=lfs diff=lfs merge=lfs -text
weights/custom_dinov2_vitl14_25blocks.pt filter=lfs diff=lfs merge=lfs -text
experiments/weights/custom_dinov2_vitl14_25blocks.pt filter=lfs diff=lfs merge=lfs -text
